/* Add this to your styles.css file */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040113;
}

header {
    background-color: #242424;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.header-buttons a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

/* Setting font for the header */
header h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main {
    position: relative;
}

#trendingMovies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 160px;
}

.movie-poster {
    width: 200px; /* Adjust the width as needed */
    height: 300px; /* Maintain the 2:3 aspect ratio */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
