/* Add this to your styles.css file */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040113;
}

header {
    background-color: #242424;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.header-buttons a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

/* Setting font for the header */
header h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main {
    position: relative;
    margin-bottom: 150px;
}

h2.section-title {
    text-align: center;
    color: white;
    font-size: 24px;
}

#trendingMoviesContainer {
    background-color: #242424; /* Grey background color */
    padding: 30px; /* Add padding for spacing around the movie posters */
}

#trendingMovies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-container {
    text-align: center; /* Center the movie poster and name */
    margin-bottom: 20px; /* Adjust this value for spacing between movies */
}

.movie-poster {
    position: relative;
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

/* Center the login form */
/* Add this to your styles.css file */
.login-form {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* This centers the form horizontally */
    text-align: center; /* This centers the content inside the form */
}

.create-account-link {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-left: 600px;
    border: 1px solid white;
    border-radius: 4px;
}

.create-account-link:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}

.login-form label {
    color: white; /* Set the text color to white */
}

.login-form input {
    margin-bottom: 10px;
}

/* Add this to your styles.css file */
#movieDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#movieDetailsContainer .movie-poster-center {
    margin: 0 auto; /* Center the poster horizontally */
}

#movieDetailsContainer .details {
    color: white;
    /* Add other styles for movie details */
}

#movieDetailsContainer .details p {
    color: white; /* Set the text color to white */
}


footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
